doctype html 5
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover")
        meta(name="aplus-terminal", content="1")
        meta(name="data-spm", content="a2141")
        meta(name="aplus-mmstat-timeout", content="10000")
        meta(name="keywords", content=pageKeyword)
        meta(name="description", content='#{pageDescrition}')
        meta(name="theme-color", content="#ff5000")
        meta(name="format-detection", content="telephone=no")
        meta(name="apple-mobile-web-app-title", content="#{pageDescrition}")
        meta(name="application-name", content="#{pageDescrition}")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="referrer", content="never")
        title=pageTitle
        link(rel="stylesheet", type="text/css", href="#{host}/css/style.css")
    body
        div.header-top
            h1 #{pageTitle+','+pageKeyword}
            //- div.cont
            //-     marquee(scrolldelay="30")
            //-         span 为防止域名更换, 请记住我们的导航域名 xjb520.com&nbsp;&nbsp;&nbsp;
        div.header
                div.cont
                    each item in menu
                        -if(item.url.indexOf(type) > -1)
                            a(href="#{item.url}", class="active", title="#{item.name}") #{item.name}
                        -else
                            a(href="#{item.url}", title="#{item.name}") #{item.name}
                    //- a(title="登录") 登录
                    //- a(title="注册") 注册
                div.shadow
        div.go-back
            a(href="javascript:history.back(-1)") &lt;&nbsp;返回
            span 当前分类：#{typeText.name}
            //- div.search
            //-     div.search-cont
            //-         input(id="video-type", type="hidden", value="#{type}")
            //-         input(type="text", id="search-value", placeholder="只在当前分类-进行检索", onkeyup="getSearchKeyup()")
            //-         button(onclick="getSearch()") 搜&nbsp;&nbsp;索
        div.guang()
            img(src="#{host+'/img/guang.gif'}", alt="")
            img(src="#{host+'/img/g2.gif'}", alt="")
        div.bodyer
            div.data-detail
                -if(result)
                    input(id="video-url", type="hidden", value="#{result.video}")
                    div#video
                -else
                    a(href="#{host}", class="no-more" title="返回首页") 没有查询到数据，返回首页？
            h3.randow 随机推荐
            div.data-list
                -if(recommond.length)
                        each item in recommond
                            a(href="#{host+'/detail/'+type+'/'+item.createTime}.html", title="#{item.title}在线观看")
                                div.list-img
                                    img(src="#{item.img.split(',')[0]}", alt="#{item.title}")
                                div.list-title
                                    span #{item.title}
                -else
                    a(class="no-more") 没有查询到数据
        div.footer
            | 警告︰69公社-69gs.tv-69公社在线视频-69gs Porn videos（www.69gs.tv）只适合18岁或以上人士观看!
            br
            |WARNING: This Site Contains Adult Contents, No Entry For Less Than 18-Years-Old !
        div.mulu
            a(href="/") 首页
            a(href="/menu/all.html") 分类
            a(href="#") 我的
        script(src="#{host}/js/ckplayer/ckplayer.js")
        script(src="#{host}/js/detail.js", type="text/javascript")