doctype html 5
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover")
        meta(name="aplus-terminal", content="1")
        meta(name="data-spm", content="a2141")
        meta(name="aplus-mmstat-timeout", content="10000")
        meta(name="keywords", content=pageKeyword)
        meta(name="description", content='#{pageDescrition}')
        meta(name="theme-color", content="#ff5000")
        meta(name="format-detection", content="telephone=no")
        meta(name="apple-mobile-web-app-title", content="#{pageDescrition}")
        meta(name="application-name", content="#{pageDescrition}")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        title=pageTitle
        link(rel="stylesheet", type="text/css", href="#{host}/css/style.css")
    body
        div.header-top
            h1 #{pageTitle+','+pageKeyword}
            //- div.cont
            //-     marquee(scrolldelay="30")
            //-         span 为防止域名更换, 请记住我们的导航域名 xjb520.com&nbsp;&nbsp;&nbsp;
        div.header
                div.cont
                    each item in menu
                        -if(item.url === '/')
                            a(href="#{item.url}", class="active", title="#{item.name}") #{item.name}
                        -else
                            a(href="#{item.url}", title="#{item.name}") #{item.name}
                    //- span(title="登录") 登录
                    //- span(title="注册") 注册
                div.shadow
        div.guang()
            img(src="#{host+'/img/guang.gif'}", alt="")
            img(src="#{host+'/img/g2.gif'}", alt="")
        div.bodyer
            -if(result)
                each item in result
                    div.go-more
                        h2 #{item.name}
                            a(href="/list/#{item.type}.html", title="#{item.name}列表") 更多&nbsp;&gt;
                    div.data-list
                        each vv in item.list
                            a(href="#{host+'/detail/'+vv.type+'/'+vv.createTime}.html", title="#{vv.title}在线观看")
                                div.list-img
                                    img(src="#{vv.img.split(',')[0]}", alt="#{vv.title}")
                                div.list-title
                                    span #{vv.title}
            -else
                a(href="#{host}", class="no-more" title="返回首页") 页面出错，请刷新页面或联系管理员！
        div.mulu
            a(href="/") 首页
            a(href="/menu/all.html") 分类
            a(href="#") 我的
        div.footer
            | 警告︰69公社-69gs.tv-69公社在线视频-69gs Porn videos（www.69gs.tv）只适合18岁或以上人士观看!
            br
            |WARNING: This Site Contains Adult Contents, No Entry For Less Than 18-Years-Old !
        script(src="#{host}/js/common.js", type="text/javascript")