doctype html 5
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover")
        meta(name="aplus-terminal", content="1")
        meta(name="data-spm", content="a2141")
        meta(name="aplus-mmstat-timeout", content="10000")
        meta(name="keywords", content=pageKeyword)
        meta(name="description", content='#{pageDescrition}')
        meta(name="theme-color", content="#ff5000")
        meta(name="format-detection", content="telephone=no")
        meta(name="apple-mobile-web-app-title", content="#{pageDescrition}")
        meta(name="application-name", content="#{pageDescrition}")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        title=pageTitle
        link(rel="stylesheet", type="text/css", href="#{host}/css/style.css")
    body.mine
        div.header
            div.head-cont
                div.head-logo.lf
                    h1 #{pageKeyword}
                    a(href="http://www.8llh.com", target="_blank", title="萝莉网红永久访问地址")
                        span 永久域名|
                        strong WWW.8LLH.COM
                div#logined.head-user.rf
                    span.refresh(onclick='getRefresh()')
                        | &nbsp;
                        img(src="#{host+'/img/refresh.png'}", alt="刷新登入")
                    span #{userName}
                    span
                        a(href="#{host}", title="返回首页") 首页
        div.info
            p
                span.label 用户名:
                span#user-name #{userName}
            p
                span.label 会员等级:
                span#user-level #{userLevel}
            p
                span.label 到期时间:
                span#user-date #{expiryTime}
            //- p
            //-     span.label 累计充值:
            //-     span#user-total #{total}&nbsp;
            //-         font (满300永久免费)    
            p
                span.label 推广积分:
                span#user-integral #{integral}
                button.duihuan(onclick="exchange()") 积分兑换

        div.tab
            div.tab-menu
                a.chongzhi(href="#chongzhi") 我要推广
            div.tab-list
                div.tip-money#lianjie
                    p(style="line-height:20px;font-size: 14px;width:100%;margin-bottom:6px;") 复制下面地址发送给好友
                    textarea(id="copy-cont",name="") #{host}?recommend=#{userName}
                    button(onclick="goCopy()") 复制
            div.tab-menu
                a.shuoming(href="#shuoming") 本站说明
                //- a.chongzhi(href="#chongzhi") 马上充值
            div.tab-list
                div.tip-money#shuoming
                    p(style="line-height:20px;font-size: 14px;margin-bottom:6px; color: #333;") 本站点为分享站点，普通会员最多只能观看两分钟
                        br
                        | 分享地址给好友才能观看完整版，说明如下:
                    span
                        | 1.好友在推广链接下，下载了app将获得
                        font(color="red") &nbsp;1&nbsp;
                        | 个积分。
                        br
                        | 2.好友在推广链接下，注册了用户将获得
                        font(color="red") &nbsp;2&nbsp;
                        | 个积分。
                    p 
                        font(color="red") 每个积分可兑换一天的VIP观看权限，赶紧动手吧
        script(src="#{host}/js/common.js", type="text/javascript")